//color variables
$color01: #E4190B;
$color02:#E6E6E6;
$color03: #777777;
$color04:#707070;
$color05:#1A1A1A;
$color06: #171717;
$color07:#242424;
$color08: #FFFFFF;
$color09: #141D29;
$color10:#F8F8F8;
$color11:#E5E5E5;
$color12:#111111;
//size variables
$size01: 13px;
$size02:14px;
$size03:16px;
$size04:18px;
$size05:20px;
$size06:22px;
$size07:28px;